.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--slack-color);
  color: white;
}
.header-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
}

.header-search {
  flex: 0.4;
  background-color: #421f44;
  text-align: center;
  display: flex;
  padding: 0 50px;
  color: gray;
  border: 1px gray solid;
  border-radius: 6px;
}

.header-search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
  color: white;
}
.header-search > input:focus {
  outline: none;
}

.header-right {
  flex: 0.3;
  display: flex;
  align-items: flex-end;
}

.header-right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}

@media screen and (max-width: 280px) {
  .sidebar-info > h2 {
    font-size: 10px !important;
  }
  .sidebarOption > h3 {
    font-size: 0.5rem;
  }
  .sidebar-header > .MuiSvgIcon-root {
    padding: 4px;
    font-size: 10px !important;
  }
  .MuiSvgIcon-root {
    height: 0.5em !important;
    width: 0.5em !important;
  }
}

@media screen and (max-width: 450px) {
  .header-search {
    padding: 0px;
  }
}
@media screen and (max-width: 420px) {
  .sidebar-info > h2 {
    font-size: 10px !important;
  }
  .sidebarOption > h3 {
    font-size: 0.5rem !important;
  }
  .sidebar-header > .MuiSvgIcon-root {
    padding: 4px !important;
    font-size: 10px !important;
  }
}
@media screen and (max-width: 320px) {
  .header-left {
    margin-left: 10px;
  }
  .header-left > .MuiSvgIcon-root {
    margin-right: 0px;
  }
  .header-left > .MuiSvgIcon-root {
    width: 0.5em;
    height: 0.5em;
  }
  .header-left > .MuiAvatar-root {
    width: 20px;
    height: 20px;
  }
}
