body {
  --slack-color: #3f0f40;
}

.app-body {
  display: flex;
  width: 100%;
}

.app-body > h1 {
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 40px;
}

@media screen and (max-width: 400px) {
  .app-body > h1 {
    font-size: 36px;
  }
}
